apiVersion: v1
kind: Secret
metadata:
  name: birdhouse-secret
data:
  username: "__USERNAME__"
  password: "__PASSWORD__="
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: time-lapse-deployment
  labels:
    app: time-lapse
spec:
  replicas: 1
  selector:
    matchLabels:
      app: time-lapse
  template:
    metadata:
      labels:
        app: time-lapse
    spec:
      containers:
      - name: time-lapse
        image: registry.gitlab.com/dickeyf/time-lapse:latest
        env:
        - name: VMR_HOST
          value: "__VMR_HOST__"
        - name: MQTT_PORT
          value: "__MQTT_PORT__"
        - name: MQTT_USERNAME
          valueFrom:
            secretKeyRef:
              name: birdhouse-secret
              key: username
        - name: MQTT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: birdhouse-secret
              key: password